@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #080808;
  --text-color: var(--black);

  --background: white;
  --foreground: var(--black);

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

[data-theme="dark"] {
  --background: var(--black);
  --foreground: var(--white);
  --text-color: var(--white);
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

/* 전체 레이아웃 설정 - 제거 또는 주석 처리 */
/* .grid-rows-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr 40px;
}

.grid-cols-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* 브라우저 스크롤 활성화 */
}

input {
  background-color: transparent;
}
