@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #080808;
  --text-color: var(--black);

  --background: white;
  --foreground: var(--black);

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

[data-theme="dark"] {
  --background: var(--black);
  --foreground: var(--white);
  --text-color: var(--white);
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

/* 전체 레이아웃 설정 */
.grid-rows-layout {
  grid-template-rows: 60px 1fr 40px; /* 상단 60px, 메인 컨텐츠(가변 높이), 하단 40px */
}

.grid-cols-layout {
  grid-template-columns: 200px 1fr; /* 왼쪽 메뉴 200px, 메인 컨텐츠 */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
